.left_button {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.right_button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.rounded-box {
	border-radius: 5px;
	background-color: @theme_base_color;
	border: 1px solid @unfocused_borders;
}

.separation {
	color: @unfocused_borders;
}

.grey {
	background-color: @theme_bg_color;
}

.message {
	background-color: @success_color;
}

.not-active {
	color: @insensitive_fg_color;
}


/**********************************************
widget text/foreground color 
@theme_fg_color

text color for entries, views and content in general
@theme_text_color

widget base background color
@theme_bg_color

text widgets and the like base background color by default lighter than theme_bg_color
@theme_base_color

background color of selections
@theme_selected_bg_color

text/foreground color of selections
@theme_selected_fg_color

background color of insensitive/disabled widgets
@insensitive_bg_color

text foreground color of insensitive widgets
@insensitive_fg_color

insensitive text widgets and the like base background color
@insensitive_base_color

widget text/foreground color on backdrop windows
@theme_unfocused_fg_color

text color for entries, views and content in general on backdrop windows
@theme_unfocused_text_color

widget base background color on backdrop windows
@theme_unfocused_bg_color

text widgets and the like base background color on backdrop windows
@theme_unfocused_base_color

base background color of selections on backdrop windows
@theme_unfocused_selected_bg_color

text/foreground color of selections on backdrop windows
@theme_unfocused_selected_fg_color

insensitive color on backdrop windows
@unfocused_insensitive_color

widgets main borders color
@borders

widgets main borders color on backdrop windows
@unfocused_borders

semantic colors
@warning_color
@error_color
@success_color

*/
